:host{
    form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
        p{
        text-align: left;
           label{
           font-size: 20px;
           color:orange
           }      
        }

         
    }
}

  
 
  
  
  